@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes smoothBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}

.animate-smooth-bounce {
  animation: smoothBounce 2s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}
